# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Model artifacts (regenerate by re-running notebooks)
models/saved_models/*.pkl
models/saved_models/*.joblib

# Virtual envs
.venv/
venv/
env/

# Secrets
.env

# IDE
.vscode/
.idea/

#md file
/CLAUDE_V3_Streamlit.md